# Virtual Environment
.venv/
venv/
env/

# Python caching
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# IDE files
.vscode/
.idea/

# Local model tracking & mlflow logs
mlruns/
mlflow.db

# Raw data (Excel files)
data/raw/
